<template>
  <div class="form-control">
    <p class="error" v-for="error in errors" :key="error">
      {{ error }}
    </p>
    <div class="checkbox-container">
      <label class="switch" for="checkbox">
        <input type="checkbox" id="checkbox"
               :checked="checked"
               @change="$emit('change', $event.target.checked)"
        />
        <div class="slider round"></div>
        <span class="switch-text">{{ label }}</span>
      </label>
    </div>
    
  </div>
</template>
<script>
export default {
  name: 'toggle-checkbox',
  model: {
    prop: 'checked',
    event: 'change',
  },
  props: {
    checked: Boolean,
    label: String,
    errors: Array
  },
  data() {
    return {}
  }
}
</script>
<style lang="scss" scoped>

// checkbox slider
.switch {
  display: inline-flex;
  position: relative;
  align-items: center;
  height: 1.77vw; //34px;
  font-family: Roboto;
}

.switch input {
  display: none;
}

.switch-text {
  color: #fff;
  padding-left: 4.22vw; //81px;
  font-size: 0.94vw; //18px;
  line-height: 1.09vw; //21px;
  text-decoration-line: underline;
}

.slider {
  background-color: #ccc;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  transition: .4s;
  width: 3.13vw; //60px;
  height: 1.56vw; //30px;
  box-sizing: border-box;
  border-radius: 0.78vw; //15px;
}

.slider:before {
  background: #ADADAD;
  bottom: 0.104vw; //2px;
  content: "";
  height: 1.35vw; //26px;
  left: 0.104vw; //2px;
  position: absolute;
  transition: .4s;
  width: 1.35vw; //26px;
}

input:checked + .slider {
  background: #17B2F5;

  &:before{
    background: white;
  }
}

input:checked + .slider:before {
  transform: translateX(1.56vw); //30px
}

.slider.round {
  width: 3.13vw; //60px;
  height: 1.56vw; //30px;
  background: white;
  border-radius: 0.78vw; //15px;
}

.slider.round:before {
  border-radius: 50%;
}
</style>