<template>
  <div class="form-control">
    <p class="error" v-for="error in errors" :key="error">
      {{error}}
    </p>
    <input :placeholder="placeholder" :type="type" v-model="inputVal">
  </div>
</template>

<script>
export default {
  name: "v-input",
  props: ['type', 'value', 'placeholder','errors'],
  data() {
    return {};
  },
  computed: {
    inputVal: {
      get() {
        return this.value;
      },
      set(val) {
        this.$emit('input', val);
      }
    }
  }
}
</script>
<style lang="scss" scoped>
  @import '@/styles/_form-control.scss';
</style>