<template>
  <div class="auth-wrapper center">
    <div class="auth auth-3">
      <div class="auth-login">
        <div class="auth-header center m-b-md">
          <div class="btn-back" @click="mainPage"></div>
          <div class="auth-title">ВОССТАНОВЛЕНИЕ ПАРОЛЯ</div>
        </div>
        <form class="auth-form">
          <v-input type="text" placeholder="Введите код" class="auth-input" v-model.trim="code"></v-input>
          <div class="btn btn-primary btn__lg" @click="codeSend">Подтвердить код</div>
          <!-- <div class="btn btn-transparent" @click="mainPage">Пропустить</div> -->
        </form>
      </div>
    </div>
  </div>
</template>
<script>
import {mapGetters, mapActions} from "vuex";
import VInput from "@/components/inputs/v-input";
export default {
  name: 'codeConfirmation',
  components: {VInput},
  data(){
    return{
      code: ''
    }
  },
  methods:{
    ...mapActions([
      'addNotification'
    ]),
    mainPage(){
           //this.$emit('event',['page','login']);
		  storage.setPage('login');
		  //  mp.trigger("cSetPage", 'login');
    },
    codeSend(){
      let valid = true
      if(this.code.length === 0){
        this.addNotification({
          text: 'Введите код',
          theme: 'error'
        })
        valid = false
      }
      if(valid){
        const sendData = {
            code: this.code
        }
        storage.setPage('passwordChange')
      }
    },
  },
}
</script>
<style lang="scss" scoped>
  @import '@/styles/auth.scss';
</style>