<template>
  <div class="auth-wrapper center">
    <div class="auth auth-1">
      <div class="auth-login">
        <form class="auth-form" @submit.prevent="login">

          <v-input type="text" placeholder="Логин" v-model="authData.login"></v-input>
          <v-input type="password" placeholder="Пароль" v-model="authData.password"></v-input>
          <input type="hidden" v-model="authData.passwordHash">

          <toggle-checkbox label="Запомнить меня" v-model="authData.rememberMe"></toggle-checkbox>
          <input value="Войти" type="submit" class="btn btn-primary btn__lg gradient-primary--purple">
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import {mapGetters, mapActions} from "vuex";
import toggleCheckbox from '@/components/inputs/toggle-checkbox.vue'
import VInput from "@/components/inputs/v-input";
export default {
  name: 'login',
  components:{
    VInput,
    toggleCheckbox
  },
  computed: {
    ...mapGetters({
      authData: "getAuthData",
			layout: "layout"
    }),
  },
  methods: {
    login() {
      let authData = this.authData;
      if (process.env.VUE_APP_ENV === 'development'){
        console.log(authData);
      }
      if (process.env.VUE_APP_ENV === 'production') {
        mp.trigger('Auth.login',JSON.stringify(authData));
      }
    },
    // ...mapActions([
    //   'addNotification'
    // ]),
  },
}
</script>
<style lang="scss" scoped>
  @import '@/styles/auth.scss';
</style>