<template>
  <div class="auth-wrapper center">
    <div class="auth auth-3">
      <div class="auth-login">
        <div class="auth-header center m-b-md">
          <div class="btn-back" @click="mainPage"></div>
          <div class="auth-title">ВОССТАНОВЛЕНИЕ ПАРОЛЯ</div>
        </div>
        <ValidationObserver ref="form" v-slot="{ invalid }">
        <form class="auth-form" @submit.prevent="passwordChange">
          <validation-provider vid="password" rules="required|password:@confirm" v-slot="{ errors }">
            <v-input type="password" placeholder="Пароль" class="auth-input" v-model.trim="authData.password"
                      :errors="errors"></v-input>
          </validation-provider>
          <validation-provider vid="confirm" name="confirm" rules="required" v-slot="{ errors }">
            <v-input type="password" placeholder="Новый пароль" class="auth-input"
                      v-model.trim="authData.passwordConfirmation" :errors="errors"></v-input>
          </validation-provider>
          <input type="submit" class="btn btn__lg btn-primary gradient-primary--purple" :disabled="invalid" value="Сменить пароль">
        </form>
        </ValidationObserver>
      </div>
    </div>
  </div>
</template>
<script>
import {mapGetters, mapActions} from "vuex";
import VInput from "@/components/inputs/v-input";
import {ValidationProvider, ValidationObserver, extend} from 'vee-validate';
extend('password', {
  params: ['target'],
  validate(value, {target}) {
    return value === target;
  },
  message: 'Пароли должны совпадать'
});
export default {
  name: 'passwordChange',
  components:{
    VInput,
    ValidationProvider,
    ValidationObserver
  },
  data(){
    return{

    }
  },
  computed: {
    ...mapGetters({
      authData: "getAuthData",
      validationErrors: "getValidationErrors"
    })
  },
  methods:{
    ...mapActions([
      'addNotification'
    ]),
    mainPage(){
		  storage.setPage('login');
    },
    passwordChange(){
      storage.setPage('login')
      this.addNotification({
        text: 'Пароль изменен',
        theme: 'success'
      })
    }
  },
}
</script>
<style lang="scss" scoped>
  @import '@/styles/auth.scss';
</style>