<template>
  <div class="auth-wrapper center">
    <div class="auth auth-3">
      <div class="auth-login">
        <div class="auth-header center m-b-md">
          <div class="btn-back" @click="mainPage"></div>
          <div class="auth-title">ВОССТАНОВЛЕНИЕ ПАРОЛЯ</div>
        </div>
        <form class="auth-form">
          <v-input type="email" placeholder="Email" class="auth-input" v-model.trim="email"></v-input>
          <div class="btn btn__lg btn-primary" @click="emailSend">Выслать код на E-mail</div>
        </form>
      </div>
    </div>
  </div>
</template>
<script>
import { mapGetters, mapActions } from "vuex";
import VInput from "@/components/inputs/v-input";
export default {
  name: 'recovery',
  components: {VInput},
  data(){
    return{
      email: ''
    }
  },
  methods:{
    ...mapActions([
      'addNotification'
    ]),
    mainPage(){
           //this.$emit('event',['page','login']);
		  storage.setPage('login');
		  //  mp.trigger("cSetPage", 'login');
    },
    emailSend: function(){
      let valid = true;
      var emailRegExp = /^[0-9a-z-_\.]+\@[0-9a-z-_]{1,}\.[a-z]{1,}$/i;
      if(this.email.length === 0 ){
        this.addNotification({
          text: "Введите Email",
          theme: "error"
        });
        valid = false;
      } 
      if (this.email.length != 0 && !emailRegExp.test(this.email)) {
        this.addNotification({
          text: "Некорректный email.",
          theme: "error"
        });
        valid = false;
      }
      if(valid){
        const sendData = {
          login: this.login,
          password: this.pass,
          email: this.email
        }
        this.addNotification({
          text: "Код отправлен",
          theme: "success"
        });
        storage.setPage('codeConfirmation');
        // mp.trigger("cMisc-CallServerEvent", "sRegister-CreateAccount",JSON.stringify(sendData));
      }
    },
  },
}
</script>
<style lang="scss" scoped>
  @import '@/styles/auth.scss';
</style>