<template>
  <div class="auth-wrapper center">
    <div class="auth auth-2">
      <div class="auth-login">
        <div class="auth-header center m-b-md">
          <div class="btn-back" @click="mainPage"></div>
          <div class="auth-title">РЕГИСТРАЦИЯ</div>
        </div>

        <ValidationObserver ref="form" v-slot="{ invalid }">
          <form class="auth-form" @submit.prevent="register">

            <validation-provider vid="login" rules="required" v-slot="{ errors }">
              <v-input type="text" placeholder="Логин" v-model.trim="authData.login" :errors="errors"></v-input>
            </validation-provider>

            <validation-provider vid="email" rules="required|email" v-slot="{ errors }">
              <v-input type="email" placeholder="Email" class="auth-input" v-model.trim="authData.email"
                       :errors="errors"></v-input>
            </validation-provider>


            <validation-provider vid="password" rules="required|password:@confirm" v-slot="{ errors }">
              <v-input type="password" placeholder="Пароль" class="auth-input" v-model.trim="authData.password"
                       :errors="errors"></v-input>
            </validation-provider>
            <validation-provider vid="confirm" name="confirm" rules="required" v-slot="{ errors }">
              <v-input type="password" placeholder="Повторите пароль" class="auth-input"
                       v-model.trim="authData.passwordConfirmation" :errors="errors"></v-input>
            </validation-provider>


            <validation-provider vid="promo" name="promo" rules="" immediate v-slot="{ errors }">
            <v-input type="text" placeholder="Промо-код (необязательно)" class="auth-input"
                     v-model.trim="authData.promo" :errors="errors"></v-input>
            </validation-provider>

            <validation-provider vid="rules" :rules="{ required: { allowFalse: false } }" v-slot="{ errors }">
              <toggle-checkbox label="С правилами сервера ознакомлен" v-model="authData.rules"
                               :errors="errors"></toggle-checkbox>
            </validation-provider>

            <input type="submit" value="Зарегистрироваться" :disabled="invalid"
                   class="btn btn__lg btn-primary gradient-primary--purple">
          </form>
        </ValidationObserver>
      </div>
    </div>
  </div>
</template>
<script>

import {mapGetters, mapActions} from "vuex";
import toggleCheckbox from '@/components/inputs/toggle-checkbox.vue'
import VInput from "@/components/inputs/v-input";

import {ValidationProvider, ValidationObserver, extend} from 'vee-validate';
import {required, email} from 'vee-validate/dist/rules';

extend('required', {
  ...required,
  message: 'Это поле обязательное'
});
extend('email', {
  ...email,
  message: 'Введите корректный email'
});
extend('password', {
  params: ['target'],
  validate(value, {target}) {
    return value === target;
  },
  message: 'Пароли должны совпадать'
});

export default {
  name: 'registration',
  components: {
    VInput,
    toggleCheckbox,
    ValidationProvider,
    ValidationObserver
  },
  computed: {
    errors(){
      return this.validationErrors.registration
    }, 
    ...mapGetters({
      authData: "getAuthData",
      validationErrors: "getValidationErrors"
    })
  },
  watch: {
    errors: {
      deep: true,
      handler(newVal){
        console.log(newVal)
        this.$refs.form.setErrors(newVal);
      }
    }
  },
  methods: {
    ...mapActions([
      'addNotification'
    ]),
    mainPage() {
      //this.$emit('event',['page','login']);
      storage.setPage('login');
      //  mp.trigger("cSetPage", 'login');
    },
    register: function () {
      if (process.env.VUE_APP_ENV === 'development') {
        this.errors.email = 'серверная ошибка валидации ' + Math.random();

        this.addNotification({
          text: "Вы успешно зарегистрировались",
          theme: "success"
        });
        storage.setPage('login')
      }
      if (process.env.VUE_APP_ENV === 'production') {
        mp.trigger('Auth.register', JSON.stringify(this.authData));
      }
    },
  },
}
</script>
<style lang="scss" scoped>
  @import '@/styles/auth.scss';
</style>