@import './variables.scss';

.btn {
  transition: all .2s ease-in-out;
  border: none;
  display: flex;
  font-family: Roboto;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  color: $color_white;
  margin: $margin;
  &__lg{
    height: 3.13vw; //60px;
    border-radius: 1.56vw; //30px;
    font-size: 150%; //24px;
  }
  &__md{
    height: 2.08vw; //40px;
    border-radius: 1.04vw; //20px;
    font-size: 100%; //18px;
  }
  &:hover, &:focus {
    box-shadow: inset 0 0 15.63vw transparentize($color_black, 0.8); //300px
  }

  &:disabled, &-disabled{
    filter: grayscale(100%);
    &:hover, &:focus{
      box-shadow: none;
    }
  }

  &-transparent{
    border: 1px solid $color_white;
    background: transparentize($color_white, 1);
  }

  &-primary {
    background: $gradient-primary--purple
  }

  &-secondary {
    background: $gradient-secondary--blue;
  }
}








