@import './variables';

.gradient-primary--purple{
  background: $gradient-primary--purple;
}
.gradient-secondary--blue {
  background: $gradient-secondary--blue
}
.gradient-secondary--purple{
  background: $gradient-secondary--purple;
}


.color-green{
  color: $color_green
}
