@import "colors";

.form-control {
  margin: $margin;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  width: 20.83vw; //400px;
  
  input {
    width: 100%;
    height: 3.13vw; //60px;
    background: transparentize($color_white, 0.1);
    border: 2px solid transparent;
    box-sizing: border-box;
    border-radius: 1.56vw; //30px;
    font-family: "Roboto-Light";
    font-weight: 300;
    font-size: 150%; //24px;
    text-align: center;
    color: $color_black;
    transition: 0.2s;
    &::placeholder {
      color: $color_grey;
    }
  }
  
  .error {
    color: $color_white;
    display: inline-flex;
    font-size: 112.5%;
    margin-top: 0.52vw; //10px;
    margin-left: 0.94vw; //20px;
    padding: .3vh 1.56vh;
    white-space: normal;
    background: $color_red;
    font-family: 'Roboto-Light';
    border-radius: 0.2604vw; //5px;
    position: relative;
    transition: 0.2s;
    &::before{
      content: '';
      display: block;
      position: absolute;
      top: -0.4167vw; //-8px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 0.2604vw 0.4167vw 0.2604vw;
      border-color: transparent transparent $color_red transparent;
    }
  }
  .error + input{
    border: 2px solid $color_red;
  }
}