// Colors
$color_white:     #ffffff !default;
$color_black:     #000000 !default;
$color_blue:      #17B2F5 !default;
$color_blue-100:  #039AE7!default;
$color_blue-dark: #004D6F !default;
$color_purple:    #772BCE !default;
$color_purple-dark:#340070 !default;
$color_green:     #35AA5D !default;
$color_red:       #9D2D2D !default;
$color_grey:      #808080 !default;
$color_error: #dd1e1e !default;


// Gradients
$gradient-primary--purple: $color_purple linear-gradient(180deg, $color_blue 0%, transparentize($color_white, 1) 100%);
$gradient-secondary--blue: $color_blue-dark linear-gradient(180deg, $color_blue 0%, transparentize($color_white, 1) 100%);
$gradient-secondary--purple: $color_purple-dark linear-gradient(180deg, $color_purple 0%, transparentize($color_white, 1) 100%);

//margins

$margin: 0.52vw;