.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}

.slide-fade-enter-active {
  transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
  opacity: 1;
}
.slide-fade-leave-active {
  transition: all .5s cubic-bezier(1.0, 0.5, 0.8, 1.0);;
}
.slide-fade-enter{
  opacity: 0;
  transition: all .2s
}
.slide-fade-leave-to{
  transform: translateX(-30%);
  opacity: 0.1;
}

.slowFade-enter-active, .slowFade-leave-active {
  transition: opacity 2s;
}
.slowFade-enter, .slowFade-leave-to {
  opacity: 0;
}