@import './variables';
@import './buttons';
@import './animations';
@import './colors';
@import './indents';
@import './form-control';

.wrapper {
  overflow: hidden;
  background: rgba(0,0,0,0.3);
  background-blend-mode: darken;
}
.logo {
  transition: 1s cubic-bezier(0.86, 0, 0.1, 1);
  background-image: url('/img/auth/Logo_RAMP.png');
  background-size: contain;
  width: 36.46vw; //700px;
  height: 11.82vw; //227px;
  position: absolute;
  left: 0;
  top: 0;
  // left: calc(50% - 36.46vw / 2);
  transform: translate(calc(50vw - 36.46vw / 2), 5.57vw);
  // top: 5.57vw; //107px;
  z-index: 100;
}

.logo-small {
  width: 20.83vw; //400px;
  height: 6.72vw; //129px;
  // left: 2.76vw; //53px;
  // top: 3.02vw; //58px;
  transform: translate(2.76vw, 3.02vw);
}

.auth-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
}

.auth {
  position: absolute;
}

.auth-1 {
  top: 22.5vw; //432px;
}

.auth-2 {
  top: 13.28vw; //255px;
}

.auth-3 {
  top: 50%;
  transform: translateY(-50%);
}

.auth-form {
  display: flex;
  flex-direction: column;
}

.auth-header {
  position: relative;
}

.btn-back {
  background: url('/img/auth/back.svg') no-repeat;
  background-size: contain;
  width: 2.08vw; //40px;
  height: 2.08vw;
  position: absolute;
  left: 0;
  cursor: pointer;
  transition: 0.2s;
  transform-origin: center;

  &:hover {
    transform: translateX(-10%);
  }
}

.auth-title {
  font-family: Roboto;
  font-size: 150%; //24px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  text-transform: uppercase;
  padding-left: 1.04vw; //20px;
}

.tab-btns {
  position: absolute;
  width: 10.42vw;
  bottom: 2.92vw; //56px;
  right: 3.44vw; //66px;
}