@import "variables";

.house-card {
  width: 41.67vw; //800px;
  height: 22.92vw; //440px;
  background: url('/img/house/card-bg.jpg') no-repeat;
  background-size: cover;
  display: flex;

  &.compact {
    width: calc(41.67vw / 2);
    background-position: 100% 0;

    .menu {
      width: 100%;
    }
  }
}

.info, .menu {
  width: 50%;
  height: 100%;
}

.info {
  background: rgba(28, 28, 28, 0.9);
  padding: 2.6vw 0 2.6vw 2.6vw; //50px;
  font-family: 'Roboto-Light';
  &-list{
    max-height: 100%;
    overflow-y: auto;
    &::-webkit-scrollbar{
      width: 0.31vw; //6px;
    }
    &::-webkit-scrollbar-thumb{
      background: #17B2F5;
    }
    &::-webkit-scrollbar-track{
      background: transparent;
    }
  }
  &-item {
    &:not(:first-child) {
      margin-top: 1.04vw; //20px;
    }

    &__title {
      font-size: 81.25%; //13px;
      color: transparentize($color_white, 0.5);
      margin-bottom: 3px;
    }

    &__text {
      font-size: 112.5%; //18px;
      color: transparentize($color_white, 0.1);

      &_selling{
        font-size: 150%;
      }
    }
  }
}

.menu {
  padding: 0.78vw; //15px;
  position: relative;

  &-header {
    display: flex;
    align-items: center;
    text-align: center;
    position: relative;
  }

  &-name {
    width: 100%;
    text-align: center;
    font-size: 112.5%; //18px;
    color: transparentize($color_white, 0.25);
  }

  &-title {
    font-family: 'Roboto-Light';
    font-weight: 200;
    margin-top: 0.94vw; //18px;
    text-align: center;
    width: 100%;
    font-size: 300%; //48px;
    color: $color_white;
  }

  &-actions {
    position: absolute;
    width: 100%;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0 3.13vw; //60px;
  }

  &-status {
    position: absolute;
    width: 50%;
    left: 50%;
    bottom: 10%;
    transform: translateX(-50%);
  }

  &-owner {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1vw;
  }
}


.back {
  width: 1.56vw; //30px;
  height: 1.56vw; //30px;
  position: absolute;
  background: url('/img/back.png') no-repeat;
  background-size: contain;
}
