@import 'variables';

.icon {
  background-size: contain;
  background-repeat: no-repeat;

  &-lock {
    background-image: url('/img/house/lock-with-key.png');
  }

  &-car {
    background-image: url('/img/house/icon_car.png');
  }

  &-image{
    width: 1.56vw; //30px;
    height: 1.56vw; //30px;
    background-size: cover;
  }

  &-text {
    margin-top: 0.26vw; //5px;
    font-size: 75%; //12px;
    color: $color_white;
  }

  &-lg {
    width: 1.56vw; //30px;
    height: 1.56vw; //30px;
  }
}