@import "colors";
@import "buttons";
@import "indents";
@import "icons";

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

* {
  padding: 0;
  margin: 0;
  outline: 0;
  text-decoration: none;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

li {
  list-style: none;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 0.83vw; //16px
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-column {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.vert-center {
  display: flex;
  align-items: center;
}

#cef {
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  overflow: hidden;
  font-family: Roboto;
}

.wrapper {
  width: 100%;
  height: 100%;

  &.development {
    background-image: url('/img/auth/bg.png');
  }
}

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto.ttf');
}

@font-face {
  font-family: 'Roboto-Light';
  src: url('/fonts/Roboto-Light.ttf');
}

