<template>
        <transition-group mode="in-out" name="slide-fade" tag="div" class="notify-wrapper">
            <div v-for="item in notifications" :key="item.id" :class="[item.theme]" class="notify">
                <div class="notify-icon"></div>
                <div class="notify-text">{{ item.text }}</div>
            </div>
        </transition-group>
</template>

<script>
import { mapGetters } from "vuex";

export default{
	computed: {
        ...mapGetters({
            notifications: "notificationsList"
        })
	},
    methods:{
    },
}
</script>

<style lang="scss" scoped>
@import '@/styles/animations.scss';
.notify-wrapper{
    position: absolute;
    margin: 0 auto;
    width: 25%;
    left: 50% - 25% / 2;
    bottom: 3vh;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    pointer-events: none;
}
.notify{
    position: relative;
    z-index: 100;
    margin-top: 0.42vw; //8px;
    padding-right: 1.82vw; //35px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #fff;
    transition: 0.3s;
    height: 3.91vw; //75px;
    background: rgba(28, 28, 28, 0.9);
    border-radius: 3.91vw; //75px;
    transition: 0.2s;
    transform-origin: center;
}
.notify .notify-icon{
    width: 3.91vw; //75px;
    height: 3.91vw; //75px;
    border-radius: 50%;
    position: absolute;
}
.notify .notify-text{
    padding-left: 5.21vw; //100px;
    font-family: Roboto;
    font-size: 0.94vw; //18px;
    line-height: 1.09vw; //21px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}
.notify.error .notify-icon{
    background: #9D2D2D url('/img/notifications/attention.svg') no-repeat;
    background-position: center calc(50% - 0.156vw); //3px
    background-size: 50%;
}
.notify.success .notify-icon{
    background: #319d2d url('/img/notifications/success.svg') no-repeat;
    background-position: center;
    background-size: 60%;
}
.notify.info .notify-icon{
    background: #2d5a9d url('/img/notifications/info.svg') no-repeat;
    background-position: center;
    background-size: 60%;
}

</style>
