/*
Главный файл отвечающий за отображение тех или инных меню и игровых интерфейсов

Идея заключается в следующем, если значение page совпадает отображается модуль меню.
Удобно при тестировании не обязательно запускать GTA , ставим тестируемуму модулю значение Page='namePage' и
запускаем npm run serve (должна открыться страница в браузере, но не всегда http://localhost:8080/)

*/

<template>
  <div id="cef" ref="cef">
    <component :ref="layout" v-bind:is="layout"></component>
    <notification></notification>
  </div>
</template>

<script>
import {mapGetters} from "vuex";
/* 
========Загрузка модулей страниц и интерфесов==========
После загрузки прописать ниже в  components:{}
*/
import notification from './misc/notification.vue'

// layouts
import authLayout from '../layouts/auth'
import defaultLayout from '../layouts/default'

export default {
  name: 'cef',
  components: {
    notification,
    'layout-default': defaultLayout,
    'layout-auth': authLayout,
  },
  computed: {
    ...mapGetters({
      layout: "layout"
    }),
  },
  methods: {}
}
</script>
<style lang="scss">
@import '../styles/main.scss';
</style>
