<template>
  <ul class="list-menu">
    <li class="menu-item vert-center"
        :class="{current: i === index, active: !!item.action}"
        v-for="(item, i) in currentMenu"
        :key="i">
      <div class="menu-item__icon-current center" v-if="i === index">
        <img src="/img/house/list-item-icon.png" alt="">
      </div>
      <div class="menu-item__icon-main center" v-if="item.icon">
        <img :src="`/img/house/icon_${item.icon}.png`" alt="">
      </div>
      <div class="text-wrapper">
        <div class="menu-item__title" v-if="item.title">Место #{{ i }}</div>
        <div class="menu-item__text">{{ item.text }}</div>
      </div>
    </li>
  </ul>
</template>
<script>
export default {
  props: {
    data: Array,
  },
  data() {
    return {
      currentMenu: [],
      index: 0,
    }
  },
  watch: {
    data() {
      this.setCurrentMenu(this.data);
    }
  },
  created() {
    document.addEventListener('keydown', this.onKeyDown)
    this.setCurrentMenu(this.data);
  },
  destroyed() {
    document.removeEventListener('keydown',this.onKeyDown);
  },
  computed: {
    itemHeight() {
      return window.innerWidth * 0.03125 //60px
    },
    menuHeight() {
      return document.querySelector(".list-menu").offsetHeight;
    }
  },
  methods: {
    setCurrentMenu(menu) {
      this.currentMenu = menu
      this.index = 0
    },
    onKeyDown(e) {
      if (e.keyCode === 38) {
        this.moveUp();
      }
      if (e.keyCode === 40) {
        this.moveDown();
      }
      if (e.keyCode === 13) {
        this.onEnter();
      }
    },
    moveUp() {
      if (this.index === 0) {
        return
      }
      this.index--
      this.scroll();
    },
    moveDown() {
      if (this.index >= this.currentMenu.length - 1) {
        return
      } else {
        this.index++
      }
      this.scroll();
    },
    scroll: function () {
      let menu = document.querySelector(".list-menu")

      let currentScroll = menu.scrollTop;
      let itemPosition = this.itemHeight * this.index;
      let scrollWindow = {
        bottom: currentScroll,
        top: currentScroll + this.menuHeight,
      };

      if (itemPosition < scrollWindow.bottom) {
        menu.scrollTop += itemPosition - scrollWindow.bottom;
      }
      if (itemPosition > scrollWindow.top) {
        menu.scrollTop += itemPosition - scrollWindow.top;
      }

    },
    onEnter: function () {
      let action = this.currentMenu[this.index].action;
      if (action) {
        action.apply(this)
      }
    },
  },
  mounted() {

  }
}
</script>
<style lang="scss" scoped>
@import '@/styles/main.scss';

.list-menu {
  max-height: calc(3.125vw * 4);
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 0.31vw; //6px;
  }

  &::-webkit-scrollbar-thumb {
    background: #17B2F5;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }
}

.menu-item {
  transition: 0.1s;
  padding: 0 0.78vw; //15px;
  height: 3.125vw; //60px;
  background: #1C1C1C;
  transition: 0.1s;

  &__icon-current {
    width: 0.78vw; //15px;
    height: 0.78vw; //15px;
    margin-right: 0.78vw; //15px;
  }

  &__icon-main {
    width: 1.56vw; //30px
    height: 1.56vw;
    margin-right: 0.78vw; //15px;
  }

  &__title {
    font-family: 'Roboto-Light';
    font-size: 87.5%; //14px;
    color: #ADADAD;
  }

  &__text {
    color: transparentize($color_white, 0.2);
    font-size: 112.5%; //18px;
  }

  &.current {
    background-color: #252525;
    .menu-item__text {
      color: #ffffff;
    }
    &.active {
      background-color: $color_blue-100;
    }
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
</style>
