<template>
  <div class="wrapper center">
    <div class="house-card" :class="{compact: house.owner && !house.owned}">
      <div class="info" v-if="house.owned || !house.owner">
        <div class="info-list">
          <div class="info-item" v-for="(item,i) in house.info" :key="i">
            <div class="info-item__title" v-html="item.title"></div>
            <div class="info-item__text" v-html="item.text"></div>
          </div>
        </div>
      </div>
      <div class="menu">
        <div class="menu-header">
          <div class="back" @click="hide"></div>
          <div class="menu-name">{{ house.street }}, дом</div>
        </div>
        <div class="menu-title">{{ house.id }}</div>
        <div class="menu-owner">
          <div class="center-column" v-if="house.owner">
            <div class="info-item__title">Владелец</div>
            <div class="info-item__text">
              {{ house.owner.name }}
            </div>
          </div>
          <div class="center-column" v-if="!house.owner">
            <div class="info-item__text info-item__text_selling">
              ПРОДАЁТСЯ
            </div>
          </div>
        </div>
        <div class="menu-actions">
          <!-- показать если не в собственности и продается -->
          <div class="btn btn-primary btn__md"
               v-if="!house.owner"
               @click="buy"
          >
            Купить дом
          </div>
          <!-- показать если не продается или в собственности -->
          <div class="btn btn__md"
               :class="{
            'btn-disabled': house.closed,
            'btn-primary': house.owned,
            'btn-transparent': !house.owned
          }" @click="enterHouse">Войти в дом
          </div>
          <!-- показать если в собственности -->
          <div class="btn btn-transparent btn__md" @click="toggleLock" v-if="house.owned">
            {{ house.closed ? 'Открыть дверь' : 'Закрыть дверь' }}
          </div>
        </div>
        <div class="menu-status center-column">
          <div class="icon center-column">
            <div class="icon-image icon-lock"></div>
            <div class="icon-text">{{ house.closed ? 'Дом закрыт' : 'Дом открыт' }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import {mapGetters, mapActions} from "vuex";

export default {
  name: 'houseEntrance',
  created() {
  },
  computed: {
    ...mapGetters({
      page: "page",
      house: "House/house",
      character: "Player/character"
    }),
  },
  inject: [
      'hide',
      'buy',
      'enterHouse',
      'toggleLock',
      'syncState'
  ],
}
</script>
<style lang="scss" scoped>
@import '@/styles/house.scss'
</style>
