<template>
  <div class="wrapper center">
    <div class="house-card">
      <div class="info">
        <div class="info-list">
          <div class="info-item">
            <div class="info-item__title">Гараж \ Парковочное место</div>
            <div class="info-item__text">{{ house.garage.maxCars }}</div>
          </div>
          <div class="info-item" v-for="(item,i) in house.cars" :key="i">
            <div class="info-item__title">Место №{{i+1}}</div>
            <div class="info-item__text">{{ house.cars[i]}}</div>
          </div>
        </div>
      </div>
      <div class="menu">
        <div class="menu-header">
          <div class="back" @click="hide"></div>
          <div class="menu-name">{{ house.street }}, дом</div>
        </div>
        <div class="menu-title">{{ house.id }}</div>
        <!-- показать владельца если дом в собственности или не продается-->
        <div class="menu-owner" v-if="!house.owned">
          <div class="center-column">
            <div class="info-item__title">Владелец</div>
            <div class="info-item__text">{{ house.owner ? house.owner.name : 'Город' }}</div>
          </div>
        </div>
        <div class="menu-actions">
          <div class="btn btn__md btn-primary"
               :class="{'btn-disabled': house.closed}" 
               @click="enterGarage">Войти в гараж
          </div>
          <div class="btn btn-transparent btn__md" @click="toggleLock" v-if="house.owned">
            {{ house.closed ? 'Открыть дверь' : 'Закрыть дверь' }}
          </div>
        </div>
        <div class="menu-status center-column">
          <div class="center-column">
            <div class="icon icon-lock icon-lg"></div>
            <div class="icon-text">{{ house.closed ? 'Дом закрыт' : 'Дом открыт' }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>

import {mapGetters, mapActions} from "vuex";
export default {
  name: 'houseGarage',
  created() {
  },
  computed: {
    ...mapGetters({
      page: "page",
      house: "House/house",
      character: "Player/character"
    }),
  },
  inject: [
    'hide',
    'enterGarage',
    'toggleLock',
    'syncState'
  ],
}
</script>
<style lang="scss" scoped>
@import "@/styles/house.scss";
</style>