<template>
  <div class="wrapper center">
    <component :ref="action" v-bind:is="action"></component>
  </div>
</template>
<script>
import {mapGetters, mapActions} from "vuex";
import HouseEntrance from "@/pages/player/house/entrance";
import HouseGarage from "@/pages/player/house/garage";
import HouseVehicle from "@/pages/player/house/vehicle";

export default {
  name: 'house',
  created() {
    if (process.env.VUE_APP_ENV === 'development') {
      // эмуляция получения данных с сервера
      this.setHouse({
        "id": 343,
        "balance": 0,
        "cars": [],
        "position": {
          "spawn": {
            "x": -516.808,
            "y": 433.215,
            "z": 96.8079,
            "h": 308
          },
          "garage": {
            "x": 0,
            "y": 0,
            "z": -1,
            "h": 0
          },
          "vehicle": {
            "x": -517.554,
            "y": 427.737,
            "z": 95.567,
            "h": 42.3611
          }
        },
        "garage": {
          "id": 1,
          "position": {
            "spawn": {
              "x": 178.97,
              "y": -1000.51,
              "z": -100,
              "h": 168.85
            },
            "exit": {
              "x": 172.518,
              "y": -1007.3,
              "z": -100,
              "h": 348.64
            },
            "slot0": {
              "x": 171.65,
              "y": -1003.75,
              "z": -100.6,
              "h": 180.54
            },
            "slot1": {
              "x": 174.85,
              "y": -1003.54,
              "z": -100.61,
              "h": -180.54
            }
          },
          "slots": [
            {
              "x": 171.65,
              "y": -1003.75,
              "z": -99.6,
              "h": 180.54
            },
            {
              "x": 174.85,
              "y": -1003.54,
              "z": -99.61,
              "h": -180.54
            }
          ],
          "maxCars": 2
        },
        "interior": {
          "id": 4,
          "rooms": 2,
          "square": 221,
          "position": {
            "spawn": {
              "x": 346.39,
              "y": -1002.62,
              "z": -100.198,
              "h": 4.94601
            },
            "garage": {
              "x": 0,
              "y": 0,
              "z": -1,
              "h": 0
            }
          }
        },
        "owner": {
          "id": 1,
          "name": "Suka Strashnaya"
        },
        "closed": 0,
        "price": 850000,
        "class": 2,
        "tax": 85,
        "street": "Спэниш-авеню",
        "info": [
          {
            "title": "Стоимость",
            "text": "850 000,00 $"
          },
          {
            "title": "Еженедельный налог",
            "text": "85,00 $"
          },
          {
            "title": "Гараж",
            "text": 2
          },
          {
            "title": "Жилая площадь",
            "text": "221 кв.м"
          },
          {
            "title": "Количество комнат",
            "text": 2
          }
        ],
        "garageMenu": [
          {
            "text": "Припарковать транспорт",
            "action": {"trigger": "House.putVehicleIn"}
          },
          {
            "text": "Автомобили в гараже",
            "subMenu": [
              {
                "title": "Место #",
                "icon": "car",
                "text": "DOMINATOR С ПОДМЕНЮ",
                "subMenu": [
                  {
                    text: 'СВЕТ',
                  }, {
                    text: 'КАМЕРА',
                  }, {
                    text: 'МОТОР',
                  }, {
                    text: 'ТЕСТОВОЕ СУБМЕНЮ',
                  }, {
                    text: 'ТЕСТОВОЕ СУБМЕНЮ',
                  }, {
                    text: 'ТЕСТОВОЕ СУБМЕНЮ',
                  }, {
                    text: 'ТЕСТОВОЕ СУБМЕНЮ',
                  },
                ],
              },
              {
                "title": "Место #",
                "icon": "car",
                "text": "EVOLUTION 9"
              }
            ]
          },
        ]
      });
    }
  },
  components: {
    HouseVehicle,
    HouseGarage,
    HouseEntrance
  },
  computed: {
    ...mapGetters({
      page: "page",
      action: "action",
      house: "House/house",
      character: "Player/character"
    }),
  },
  methods: {
    ...mapActions({
      'setHouse': 'House/setHouse',
    }),
    hide() {
      if (process.env.VUE_APP_ENV === 'production') {
        mp.trigger('House.hideMenu')
      } else {
        storage.setPage(null);
      }

    },
    buy() {
      this.house.owner = {
        id: this.character.id,
        name: this.character.name,
      };
      if (process.env.VUE_APP_ENV === 'production') {
        mp.trigger('House.buy', this.house.id);
      }
    },
    enterHouse() {
      if (!this.house.closed) {
        if (process.env.VUE_APP_ENV === 'production') {
          mp.trigger('House.enterHouse', this.house.id);
        } else {
          console.log('enter house');
        }
      }
    },
    enterGarage() {
      if (!this.house.closed) {
        if (process.env.VUE_APP_ENV === 'production') {
          mp.trigger('House.enterGarage', 'exit');
        } else {
          console.log('enter garage');
        }
      }
    },
    toggleLock() {
      this.house.closed = !this.house.closed;
      this.syncState();
    },
    syncState() {
      if (process.env.VUE_APP_ENV === 'production') {
        mp.trigger('House.syncState', JSON.stringify(this.house));
      }
    },
  },
  provide: function () {
    return {
      toggleLock: this.toggleLock,
      buy: this.buy,
      enterHouse: this.enterHouse,
      enterGarage: this.enterGarage,
      syncState: this.syncState,
      hide: this.hide
    }
  },
}
</script>
<style lang="scss" scoped>
@import '@/styles/house.scss'
</style>
