<template>
  <div class="wrapper center">
    <div class="garage">
      <div class="garage-header">
        <div class="center-column">
          <div class="garage-title center">{{ house.street }}, дом</div>
          <div class="garage-name">{{ house.id }}</div>
        </div>
        <div class="garage-info">
          <div class="icon-wrapper center-column">
            <div class="icon icon-lock icon-lg"></div>
            <div class="icon-text">{{ house.closed ? 'Дом закрыт' : 'Дом открыт' }}</div>
          </div>
          <div class="icon center-column">
            <div class="icon icon-car icon-lg"></div>
            <div class="icon-text">5\10</div>
          </div>
        </div>
      </div>
      <list-menu :data="currentMenu"></list-menu>
    </div>
  </div>
</template>
<script>

import {mapGetters, mapActions} from "vuex";
import listMenu from '@/components/list-menu.vue'

export default {
  name: 'houseVehicle',
  components: {
    listMenu
  },
  data() {
    return {
      currentMenu: [],
    }
  },
  created() {
    this.currentMenu = this.processMenu(this.house.garageMenu);
  },
  computed: {
    ...mapGetters({
      page: "page",
      house: "House/house",
      character: "Player/character"
    }),
  },
  inject: [
    'hide',
    'syncState'
  ],
  methods: {
    processMenu(m, parentMenu = false) {
      let menu = [];
      if (parentMenu) {
        menu.push({
          text: 'Назад',
          action: () => {
            this.currentMenu = parentMenu;
          }
        });
      }
      Object.entries(m).forEach(([key, value]) => {
        let menuItem = {
          text: value.text
        };
        if (value.action) {
          menuItem.action = () => {
            if (process.env.VUE_APP_ENV === 'production') {
              mp.trigger(value.action.trigger, value.action.attributes)
            } else {
              console.log(`mp.trigger(${value.action.trigger}, ${value.action.attributes})`)
            }
          }
        }
        if (value.subMenu) {
          let subMenu = this.processMenu(value.subMenu, menu);
          menuItem.action = () => {
            this.currentMenu = subMenu;
          }
        }
        menu.push(menuItem);
      })
      if (!parentMenu) {
        menu.push({
          text: 'Закрыть',
          action: () => {
            this.hide();
          }
        });
      }
      return menu;
    },
    ...mapActions({
      'setHouse': 'House/setHouse',
    }),
  }

}
</script>
<style lang="scss" scoped>
@import "@/styles/house.scss";

.garage {
  width: 15.63vw; //300px;
  background: #000;

  &-header {
    width: 100%;
    background: url('/img/house/garage-header-bg.jpg') no-repeat;
    background-size: cover;
  }

  &-title {
    font-family: 'Roboto';
    font-size: 87.5%; //14px;
    text-align: center;
    color: transparentize($color_white, 0.25);
    height: 2.6vw; //50px;
  }

  &-name {
    font-family: 'Roboto-Light';
    font-size: 300%;
    line-height: 75%;
    color: #FFFFFF;
  }

  &-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 5.99vw; //115px;
  }

}
</style>