<template>
  <transition appear name="slowFade">
    <div :class="{wrapper: true, center: true, development: idDev}">
      <div class="logo" :class="{ 'logo-small': page !== 'login' }"></div>
      <transition appear name="slide-fade" mode="out-in">
        <component :ref="page" v-bind:is="page" ></component>
      </transition>
      <transition name="fade">
        <div class="tab-btns" v-if="page === 'login'">
          <div class="btn btn-secondary btn__md gradient-secondary--blue" @click="registrationPage">Регистрация</div>
          <div class="btn btn-secondary btn__md gradient-secondary--purple m-t-sm" @click="recoveryPage">Забыли пароль</div>
        </div>
      </transition>
    </div>
  </transition>
</template>
<script>
import {mapGetters} from "vuex";
import login from '../pages/auth/login.vue'
import registration from '../pages/auth/registration.vue'
import recovery from '../pages/auth/recovery.vue'
import codeConfirmation from '../pages/auth/code-confirmation.vue'
import passwordChange from '../pages/auth/password-change.vue'

export default {
  name: 'auth',
  components: {
    login,
    registration,
    recovery,
    codeConfirmation,
    passwordChange,
  },
  data() {
    return {
      idDev: process.env.VUE_APP_ENV === 'development'
    }
  },
  computed: {
    ...mapGetters({
      authData: "getAuthData",
      page: "page",
    }),
  },
  methods: {
    registrationPage() {
      storage.setPage('registration')
    },
    recoveryPage() {
      storage.setPage('recovery')
    },
  },
}
</script>
<style lang="scss" scoped>
  @import '../styles/auth.scss';
</style>