<template>
  <div class="wrapper" :class="{development: idDev}">
    <div class="logo"></div>
    <component :ref="page" v-bind:is="page"></component>
  </div>
</template>
<script>
import {mapGetters} from "vuex";

import house from '@/pages/player/house';

export default {
  name: 'default',
  components:{
    house,
  },
  data(){
    return{
      idDev: process.env.VUE_APP_ENV === 'development'
    }
  },
  computed: {
    ...mapGetters({
      page: "page",
    }),
  },
  methods:{
    toAuth(){
      storage.setLayout('authLayout')
    }
  }
}
</script>
<style lang="scss" scoped>
  .logo{
    position: absolute;
    left: calc(50% - 7.81vw / 2);
    top: 2vh;
    width: 7.81vw;
    height: 2.6vw;
    background: url('/img/auth/Logo_RAMP.png') no-repeat;
    background-size: cover;
    z-index: 99;
  }
</style>